{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block body %}
<h1>About</h1>

<p>
  <a href="http://sburns.org">Scott Burns</a> wrote and designed this application using these tools:

  <dl class="dl-horizontal">
    <dt><a href="http://djangoproject.com">Django</a></dt>
    <dd>A full-featured web application framework written in Python</dd>
    <dt><a href="http://getbootstrap.com">Bootstrap</a></dt>
    <dd>A front-end framwork that allows developers with no sense of design (like myself) to build nice looking websites</dd>
    <dt><a href="https://www.heroku.com">Heroku</a></dt>
    <dd>A platform-as-a-service that lets developers focus on their apps and not on the infrastructure that runs them</dd>
    <dt><a href="https://github.com">Github</a></dt>
    <dd>The world's largest code repository</dd>
  </ul>
</p>

{% endblock %}