{% extends "base.html" %}
{% load humanize %}

{% block title %}Trigger History {% endblock %}

{% block body %}
<table class="table table-bordered">
  <tr>
    <th>Entity Type</th>
    <th>Entity Identifier</th>
    <th>Timestamp</th>
  </tr>
  {% for item in history_list %}
  <tr>
    <td class="entity_type">{{ item.entity_type }}</td>
    <td class="entity_pk">{{ item.entity_pk }}</td>
    <td>{{ item.timestamp }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}

{% block js %}
{{ block.super }}
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript">
  var foo = 1;

  </script>
{% endblock %}