<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
<div class="container">
  <div class="navbar navbar-static-top navbar-inverse">
    <a class="navbar-brand" href="{% url 'index' %}">REDCaptainHook</a>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'workflow:index' %}">Projects</a></li>
      <li><a href="{% url 'workflow:history' %}">History</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    </ul>
    <button type="button" class="btn btn-default navbar-btn pull-right">Sign in</button>
  </div> <!-- navbar -->

  <div class="col-lg-10 col-offset-1">
    {% block body %}
    {% endblock %}
  </div>
</div> <!-- container -->

</body>
</html>